
nav{
    background-color: #952323;
    border-radius: 10px;
   
}
.section-2{
    background-color: #DAD4B5;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    
    
}
.section-3{
    background-color: #F2E8C6;
    display: flex;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    
}

    

#btn{
    background-color: #E25E3E;
    color: white;
    font-family: 'Montserrat', sans-serif;
    
}
.footer{
    display: flex;
    background-color: #952323;
   padding: 10vh 10vh;
   
}
.footer h2{
    color: white;
    margin: 10px 10px 10px 10px;
}
.footer h3{
    color: white;
    margin: 10px 10px 10px 10px ;
}
.footer img{
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}
#img-footer:hover{
  width: 60px;
 
}
#pizzorino{
    
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 50px;
    padding-bottom: 20px;
    padding-left: 600px;
}
#logo{
     width: 200px;
     
     padding-bottom: 20px;
     padding-left: 600px;
   
      
}
.section-2 img{
    border-radius: 100%;
    margin: 10px 10px 10px ;
}
.section-3 img{
    
    padding: 50px 50px 20px 50px;
    border-radius: 100%;
    
}
p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
}
.section-3 h2{
    padding-left: 50px;
}
.section-2 h2{
    padding-left: 10px;
    font-size: 20px;
}
.form-container {
    max-width: 400px;
    margin: 10px 50px 10px 50px;
    padding:30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color:#F2ECBE;
  }
  
  /* Style des champs de formulaire */
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-group input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  /* Style du bouton de soumission */
  .form-submit-button {
    background-color: #C08261;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
  }
  
  .form-submit-button:hover {
    background-color: #9A3B3B ;
  }